<app-carsoul-home [productList]="allProducts"></app-carsoul-home>

<!-- Product Grid -->

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 2xl:grid-cols-6 gap-6 p-4 w-[90%] mx-auto mb-12">
  @for (product of allProducts; track $index) {
  <app-product-card (fireAddToCart)="addToCart($event)" [productInfo]="product" />
  }
</div>

<div class="mb-12 flex items-center justify-center">
  <div class="mt-8 text-center">
    <a routerLink="/products"
      class="px-5 py-3 bg-green-600 hover:bg-green-700 text-white dark:bg-green-600 dark:hover:bg-green-700 dark:text-white text-sm bolfont-semid rounded-lg ">
      <i class="fa-solid fa-store mr-1"></i> View All Products
    </a>
  </div>
</div>
