<app-navbar />

<div class="min-h-[80vh]">
  <router-outlet />
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 1)" size="large" type="ball-scale-multiple" color="#4ade80" [fullScreen]="true">

  <div class="flex flex-col items-center animate-fade-in">
    <!-- Animated Logo with Glow Effect -->
    <img src="/images/freshcart-logo.svg" class="h-16 animate-bounce drop-shadow-lg" alt="FreshCart Logo">
    <!-- Loading Text -->
    <p class="text-white mt-4 text-xl font-semibold tracking-wide animate-pulse">
      Loading, please wait...
    </p>
  </div>

</ngx-spinner>


<app-footer />
