@tailwind base;
@tailwind components;
@tailwind utilities;



@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");

:root {
  --main-color: #0aad0a;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px, #919eab24 0px 4px 5px 0px, #919eab1f 0px 1px 10px 0px;
  --font-family: "Encode Sans Expanded", sans-serif;
  --rating-color: #ffc908;
}

.toast-container {
  position: fixed !important;
  bottom: 0 !important;
  right: 15px;
  z-index: 1050;
}


body {
  font-family: var(--font-family) !important;
}
